@model IEnumerable<WebApplication3.Models.Entities.Payment>

@{
    ViewBag.Title = "IndexAdmin";
}

<h2>IndexAdmin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageTranferReceipt)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberID)
        </td>
        <td>
            <img src="@Url.Content(item.imageTranferReceipt)" width="100" height="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentID}) |
      
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentID })
        </td>
    </tr>
}

</table>
